input, select,button{
    border-radius: 15px;
    /* Redondea el borde */
    padding: 10px;
    /* Genera un espacio entre el borde del botón y las letras */
    margin: 5px;
    /* Margen */
    background-color: rgb(165, 234, 226);
    /* DEfine el color de fondo */
}
.titulo{
    font-family:cursive;
    /* Tipo de letra */
    font-size: 26;
    /* Tamaño de letra */
}