.boton1{
    background-color:#FF0000;
    /* Define el color de fondo */
    color: white;
    /* Define el color de las letras */
}
.boton2{
    border-radius: 15px;
    /* Redondea el borde */
    background-color:#ff0073;
      /* Define el color de fondo */
    color: white;
     /* Define el color de las letras */
    padding: 10px 20px;
    /* Genera un espacio entre el borde del botón y las letras */
}
.boton3{
    border-radius: 15px;
     /* Redondea el borde */
    background-color:#26ff00;
    /* Define el color de fondo */
    color: white;
     /* Define el color de las letras */
    padding: 10px 20px;
    /* Genera un espacio entre el borde del botón y las letras */
    text-align: end;
    /* Alinea el texto */
    border: none;
    /* Borde ninguno */
    font-size: 15px;
    /* Tamaño de letra */
    font-family: cursive;
    /* Tipo de letra */
}   