p{
    /* Este estilo se aplica a todos los elementos <p> de la página. */
 font-family:Arial; 
 /* Define la fuente del texto */
font-size: 17px;
/* Define tamaño del texto */
color:rgb(6, 103, 103);
/* Define el color del texto */
text-align: justify;
/* Justifica el texto */
}
.parrafostitulo{ font-family:'Franklin Gothic Medium', 'Arial Narrow';
    /* Este estilo se aplica solo a los elementos con la clase parrafostitulo  */
    font-size: 18px;
    color:rgb(0, 0, 0);
}
    
.img-p{
border-radius: 50%;

}